@font-face {
  font-family: 'NanumGothic';
  src: url('/static/font/NanumGothicLight.eot');
  src: url('/static/font/NanumGothicLight.eot?#iefix') format('embedded-opentype'), url('/static/font/NanumGothicLight.woff') format('woff'), url('/static/font/NanumGothicLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Dense';
  src: url('/static/font/Dense-Regular.eot?#iefix') format('embedded-opentype'), url('/static/font/Dense-Regular.otf') format('opentype'), url('/static/font/Dense-Regular.woff') format('woff'), url('/static/font/Dense-Regular.ttf') format('truetype'), url('/static/font/Dense-Regular.svg#Dense-Regular') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'HanDotum';
  src: url('/static/font/HanDotumOpt.eot');
  src: url('/static/font/HanDotumOpt.eot?#iefix') format('embedded-opentype'), url('/static/font/HanDotumOpt.woff') format('woff'), url('/static/font/HanDotumOpt.ttf') format('truetype');
}
@font-face {
  font-family: 'HanDotum';
  src: url('/static/font/HanDotumBoldOpt.eot');
  src: url('/static/font/HanDotumBoldOpt.eot?#iefix') format('embedded-opentype'), url('/static/font/HanDotumBoldOpt.woff') format('woff'), url('/static/font/HanDotumBoldOpt.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'BankGothic';
  src: url('/static/font/BankGothicBT-Light.eot?#iefix') format('embedded-opentype'), url('/static/font/BankGothicBT-Light.woff') format('woff'), url('/static/font/BankGothicBT-Light.ttf') format('truetype'), url('/static/font/BankGothicBT-Light.svg#BankGothicBT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: BankGothic, HanDotum;
  background-color: #242121;
  color: white;
}
.hr {
  width: 100%;
  height: 1px;
}
.hr.red {
  background-color: #9e0b0f;
  height: 3px;
}
.hr.gray {
  background-color: #9d9d9d;
}
.hr.dark-gray {
  background-color: #707070;
}
.pointer {
  cursor: pointer;
}
.repeated-item.ng-enter,
.repeated-item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}
#wrapper {
  max-height: 100%;
}
@media screen {
  #wrapper {
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 992px) {
  #wrapper {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  #wrapper {
    height: 100vh;
    padding: 0;
  }
}
#footer {
  height: 40px;
  line-height: 40px;
}
#footer p {
  font-family: Dense;
}
#menu-hr {
  float: right;
  margin-top: 6px;
  margin-bottom: 4px;
}
@media screen and (max-width: 992px) {
  #menu-hr {
    visibility: visible;
  }
}
@media screen and (min-width: 992px) {
  #menu-hr {
    visibility: hidden;
  }
}
#menu-left {
  z-index: 101;
  position: fixed;
  background-color: #242121;
}
@media screen and (max-width: 992px) {
  #menu-left {
    width: 100%;
    padding: 0;
    padding-top: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: left;
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  #menu-left {
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media screen and (max-width: 992px) {
  #menu-left #menu-left-main {
    text-align: left;
    float: left;
  }
}
#menu-left #menu-left-name {
  font-family: Dense;
  font-size: 30pt;
  line-height: 1.0;
  margin-bottom: -5px;
}
@media screen and (max-width: 992px) {
  #menu-left #menu-left-name {
    text-align: left;
  }
}
#menu-left #menu-left-description {
  font-family: Dense;
  font-size: 12pt;
  color: #bababa;
}
@media screen and (max-width: 992px) {
  #menu-left #menu-left-description {
    text-align: left;
  }
}
#menu-left #menu-left-sub {
  margin-top: 10px;
  line-height: 1.0;
}
@media screen and (max-width: 992px) {
  #menu-left #menu-left-sub {
    float: right;
    margin-top: 5px;
  }
  #menu-left #menu-left-sub p {
    text-align: right;
    margin-top: 2px;
  }
}
